.combine__images {
   position: relative;
   overflow: hidden;
   min-height: 140vh;
}
.combine-images::before {
   position: absolute;
   display: block;
   content: "";
   width: 900px;
   height: 768px;
   background: #ffeaa7;
   border-radius: 99px;
   transform: translate(240px, -280px) rotate(-45deg);
   top: 0;
   right: 0;
   z-index: -1; //asdadsd
}

.combine-images::after {
   position: absolute;
   display: block;
   content: "";
   width: 210px;
   height: 280px;
   background-image: url("../img/Dots1.png");
   top: 15px;
   right: -40px;
   z-index: 50;
}
