.desingkit {
   height: 100vh;

   &__wrap {
   }

   &__title {
      margin-top: 80px;
   }

   &__subtitle {
      margin-top: 15px;
   }

   &__cart {
      display: flex;
      margin-top: 40px;
      flex-wrap: wrap;
   }

   &__cart-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   &__cart-wrap:not(:first-child) {
      margin-left: 30px;
   }

   &__item {
      display: flex;
      flex-direction: column;
      width: 270px;
   }

   &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #999; //color to drow
      width: 70px;
      height: 70px;
      border-radius: 100%;
   }

   &__item-title {
      margin-top: 24px;
   }

   &__item-text {
      margin-top: 16px;
   }

   &__item-button {
      display: box;
      border: 2px solid #adadad;
      border-radius: 20px;
      font-weight: 700;
      color: #6c5ce7;
      background: #fff;
      padding: 8px 22px;
      margin-top: 15px;
   }
}

// modifiers for icon background
.icon_bg-pink {
   background: #e84393;
}
.icon_bg-blue {
   background: #0984e3;
}
.icon_bg-purple {
   background: #6c5ce7;
}
.icon_bg-green {
   background: #00b894;
}
