@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.wrap {
  margin: 0 auto;
  max-width: 1170px;
}

.button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  padding: 18px 45px;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Black.woff") format("woff") url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff") url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff") format("woff") url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff") format("woff") url("../fonts/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Light.woff") format("woff") url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff") url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff") url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff") url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff") format("woff") url("../fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.25px;
  color: #2d3436;
}

.title_h1 {
  font-weight: 800;
  font-size: 96px;
  line-height: 104px;
  letter-spacing: -3px;
}

.title_h2 {
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -1px;
}

.title_h3 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1px;
}

.title_h4 {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.5px;
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #2d3436;
}

.text_bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.text_medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.text_small {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.text_big {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
}

.minicaps {
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.header__wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  box-shadow: 0 4px 8px 0 rgba(38, 50, 56, 0.16);
  height: 96px;
  padding: 16px 0px;
  background: #fff;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  height: 64px;
}

.logo__text {
  margin-left: 2px;
  padding-top: 5px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__items {
  position: relative;
}

.menu__items:not(:last-child)::after {
  display: block;
  content: "";
  background-color: #fdcb6e;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  right: -30px;
  bottom: 12px;
}

.menu__items:not(:last-child) {
  margin-right: 63px;
}

.menu__link {
  color: #6e5ce7;
}

.menu__button {
  margin-left: 128px;
  border-radius: 999px;
  background: #6c5ce7;
}

.link_acvtive {
  color: black;
  font-weight: 700;
}

.combine__images {
  position: relative;
  overflow: hidden;
  min-height: 140vh;
}

.combine__images::before {
  position: absolute;
  display: block;
  content: "";
  width: 900px;
  height: 768px;
  background: #ffeaa7;
  border-radius: 99px;
  transform: translate(240px, -280px) rotate(-45deg);
  top: 0;
  right: 0;
  z-index: -1;
}

.combine__images::after {
  position: absolute;
  display: block;
  content: "";
  width: 210px;
  height: 280px;
  background-image: url("../img/Dots1.png");
  background-size: content;
  top: 15px;
  right: -40px;
  z-index: -1;
}

.desingkit {
  height: 100vh;
}

.desingkit__title {
  margin-top: 80px;
}

.desingkit__subtitle {
  margin-top: 15px;
}

.desingkit__cart {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
}

.desingkit__cart-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desingkit__cart-wrap:not(:first-child) {
  margin-left: 30px;
}

.desingkit__item {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.desingkit__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.desingkit__item-title {
  margin-top: 24px;
}

.desingkit__item-text {
  margin-top: 16px;
}

.desingkit__item-button {
  border: 2px solid #adadad;
  border-radius: 20px;
  font-weight: 700;
  color: #6c5ce7;
  background: #fff;
  padding: 10px 22px 5px 22px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.icon_bg-pink {
  background: #e84393;
}

.icon_bg-blue {
  background: #0984e3;
}

.icon_bg-purple {
  background: #6c5ce7;
}

.icon_bg-green {
  background: #00b894;
}
@supports (-webkit-appearance:none){
.combine__images::after{background-image:url("../img/Dots1.webp")}
}
